<% layout("../layouts/boilerplate") -%>
<body>
    <div class="row">
    <div class="col-6 offset-2">
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >
        <h1 >Add New Listing</h1>
        <br><br>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input  
                name="title" 
                placeholder="title"
                class="form-control"
                required
            >
            <div class="invalid-feedback">this field is required</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" placeholder="describe your location" 
            class="form-control" 
            required
            ></textarea>
            <div class="invalid-feedback">this field is required</div>
        </div>
        <div class="mb-3">
            <!-- <label for="img[url]" class="form-label">Image</label>
            <input  name="img[url]" placeholder="image link" class="form-control"> -->
            <label for="img" class="form-label">Image</label>
            <input  name="img"  type="file" class="form-control" >
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="price" 
                placeholder="enter price" class="form-control"
                required
                >
                <div class="invalid-feedback">please enter a valid price</div>
            </div>
            <div class=" col mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="location" placeholder="enter 
                location" class="form-control"
                required>
                <div class="invalid-feedback">this field is required</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="country" placeholder="enter country" 
            class="form-control"
            required
            >
            <div class="invalid-feedback">please enter a vallid country</div>
        </div>
        <br>
        <button class="btn btn-danger">submit</button>
    </form>
    </div>
    </div>
    
</body>
